﻿@{
    ViewBag.Title = "Hakkımda";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hakkımızda

Hepimiz Sakarya Üniversitesinde öğrenciyiz. Şiire olan sevgimizden dolayı bu siteyi kurduk. Bu siteyi kurmamızdaki amaç tüm insanların şiiri sevmesi ve şiirle ilgilenmesidir.

Sitemizde kayıtlı binlerce şiir vardır. Hepsi de özenle seçilmiş özel ve güzel insanların şiirleridir. Her geçen gün de sitemize onlarca şiir eklenmektedir.

Sitemiz her gün binlerce kez ziyaret edilmektedir. Her geçen gün bu sayı artmaktadır. Yani sizlerin desteğiyle her gün büyüyoruz. Şiiri seven ve sevdiren herkese teşekkür ederiz.</p>
