﻿
<div class="row">

    <br />

</div>

<div class="row">

    <p style="color:red">CİHAN <br /> YILMAZ<br /> G151210033<br /> 2A</p>


</div>
<div class="row">

    <div class="col-md-8">
    

        <div class="panel panel-primary">
            <div class="panel-heading">Sen İstanbul Kokardın</div>
            <div class="panel-body">
                Martıların gözlerinden dinledim <br />
                İstanbul'un boğazı yanmış dün gece<br />
                Yıldızlar şahitlik etmiş, güya suçlu benmişim<br />
                Oysa can, yemin olsun yanağımdan süzülen denize<br />
                Ben bu şehre yüreğimi içirmedim<br />
                <br />
                Göklerden hicran yağdı, İstanbul'lu bir geceydi <br />
                Yere düşen her damlanın yüreğinde sen vardın <br />
                İsmin dudaklarımda idamlık bilmeceydi <br />
                Yalansa kahrolayım, sen İstanbul kokardın <br />
                <br />
                Sevda dediğin gülüm bir busedir dudağımda <br />
                Bıçak gibi, yasak gibi, kan gibi... <br />
                Utanır, intihar ederdi ölüm,<br />
                Hayata rest çekip ağladığımda, <br />
                Korkak gibi, tutsak gibi, yaşanmamış an gibi...<br />
                Ben lal olmuş bülbülüm, sen deli gülsün bağımda<br />
                Toprak gibi, yaprak gibi, candan özge can gibi<br />
                Kuş uçmaz kervan geçmez dağımda,<br />
                Kah aşkı yağan kar tanesi<br />
                Kah Leyla tüten rüzgardın<br />
                Zambak gibi leylak gibi,<br />
                Sigaramda duman gibi<br />
                Sevdiceğim, sen İstanbul kokardın<br />
                <br />
                Dayadım ondörtlüyü İstanbul'un şakağına<br />
                İstediğim gül içmekti gözlerinden bir yudum<br />
                Seni sordum gündüzlerce bu şehrin her sokağına<br />
                Söylemedi, inat ettim gece seni uyudum<br />
                <br />
                Ben bir sana, bir bu şehre gül dedim<br />
                Ayla toprak şahittir, şahittir denizle gece<br />
                Sensizken, İstanbul'da bir kez olsun gülmedim<br />
                Yıllar kapımı çaldı, ellerinde vur emri<br />
                Yokluğun var sen yoktun, ölüm geldi ölmedim<br />
                Ağladım yüreğimde sen, sende divane İstanbul<br />
                Aşkından hatıra dedim göz yaşımı silmedim<br />
                Ben bir sana, bir bu şehre gül dedim<br />
                Belki de can ben bu şehri güller için çok sevdim<br />
                <br />
                Gözlerimden dökülen yaş denizi ıslatıyor<br />
                Sevda kilim, hasret nakış, gönül derdi dokuyor<br />
                Çatlayası deli yürek 'sen sen' diye atıyor<br />
                Oy gece gözlüm oy, İstanbul seni kokuyor<br />
                <br />

                Serdar Tuncer
            </div>

           
                <input type="text" class="form-control" placeholder="Yorum Yapabilirsiniz">
                <input type="submit" value="Gönder" />
          
            <br />
            
            <ul>
         <li style="color:blue">Ahmet : Çok güzel Şiirrr</li>
                 <li style="color:blue">Ahmet : Güzell</li>
                <li style="color:blue">Ziyaretçi : İdare Eder</li>
          </ul>
        </div>

      
    
    </div>

    <div class="col-md-4">

        

            <div class="panel panel-primary">
                <a href="#" class="list-group-item active">
                    Şiirler  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp; &nbsp;  Yorum Sayısı


                  
                </a>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Sen İstanbul Kokardın
                    </li>
                </ul>
                <div class="row">

                    <br />

                </div>


                <div>
                    @{ 

                        for (int i = 0; i < 4; i++)
                        {
                            <br />
                        }

                    }
                    <a href="#" class="list-group-item active">
                       Yorumlar
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">Çok guzel.<br />Yorumcu: Ziyaretçi</li>
                        <li class="list-group-item">Ne demiş üstat sokak lambası gibi olma ey yar kime yandıgın belli olsun ;)<br />Yorumcu: Ziyaretçi</li>
                        <li class="list-group-item">Şiirler çok hoşuma gitti. Emeğinize sağlık<br />Yorumcu: Ziyaretçi</li>
                        <li class="list-group-item">müthişşş<br />Yorumcu: Ziyaretçi</li>
                       
                    </ul>
                </div>

           

               

       

           
        </div>

       
   
    
    </div>

  

</div>