﻿

<h2>Kayit Ol</h2>
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form method="POST" action="#" role="form">
                    
                    <div class="form-group">
                        <label class="control-label" for="signupName">Kullanıcı Adı</label>
                        <input id="signupName" type="text" maxlength="50" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupEmail">Email</label>
                        <input id="signupEmail" type="email" maxlength="50" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label" for="signupPassword">Şifre</label>
                        <input id="signupPassword" type="password" maxlength="25" class="form-control" placeholder="at least 6 characters" length="40">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupPasswordagain">Şifre Tekrarı</label>
                        <input id="signupPasswordagain" type="password" maxlength="25" class="form-control">
                    </div>
                    <div class="form-group">
                        <button id="signupSubmit" type="submit" class="btn btn-info btn-block">Kayıt Ol</button>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
</div>
